[build]
  base = "frontend"
  publish = "dist"
  command = "npm cache clean --force && npm install --legacy-peer-deps && npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  VITE_API_URL = "https://funaroundyou-f21e91cae36c.herokuapp.com"
